form {
  margin: 50px auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #3080a3;
  border-radius: 8px;
  width: max-content;
}
